<a href="https://colab.research.google.com/github/prasna90/LeetCode-Python/blob/master/1491_Average_Salary_Excluding_the_Minimum_and_Maximum_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question
You are given an array of unique integers salary where salary[i] is the salary of the ith employee.

Return the average salary of employees excluding the minimum and maximum salary. Answers within 10-5 of the actual answer will be accepted.

```

Example 1:

Input: salary = [4000,3000,1000,2000]
Output: 2500.00000
Explanation: Minimum salary and maximum salary are 1000 and 4000 respectively.
Average salary excluding minimum and maximum salary is (2000+3000) / 2 = 2500
Example 2:

Input: salary = [1000,2000,3000]
Output: 2000.00000
Explanation: Minimum salary and maximum salary are 1000 and 3000 respectively.
Average salary excluding minimum and maximum salary is (2000) / 1 = 2000
 

Constraints:

3 <= salary.length <= 100
1000 <= salary[i] <= 106
All the integers of salary are unique.You are given an array of unique integers salary where salary[i] is the salary of the ith employee.

Return the average salary of employees excluding the minimum and maximum salary. Answers within 10-5 of the actual answer will be accepted.

 

Example 1:

Input: salary = [4000,3000,1000,2000]
Output: 2500.00000
Explanation: Minimum salary and maximum salary are 1000 and 4000 respectively.
Average salary excluding minimum and maximum salary is (2000+3000) / 2 = 2500
Example 2:

Input: salary = [1000,2000,3000]
Output: 2000.00000
Explanation: Minimum salary and maximum salary are 1000 and 3000 respectively.
Average salary excluding minimum and maximum salary is (2000) / 1 = 2000
 

Constraints:

3 <= salary.length <= 100
1000 <= salary[i] <= 106
All the integers of salary are unique.
```

# Solution

In [ ]:
class Solution(object):

    def average(self, salary):
        """
        :type salary: List[int]
        :rtype: float
        """
        min = salary[0]
        max = sum = 0
        
        for i in range(0,len(salary)):
            if salary[i] < min:
                min = salary[i]
            if salary[i] > max:
                max = salary[i]
            sum += salary[i]
        
        return (sum - (min +max))/float(len(salary)-2)

# Create dataset and objects

In [ ]:
salary = [48000,59000,99000,13000,78000,45000,31000,17000,39000,37000,93000,77000,33000,28000,4000,54000,67000,6000,1000,11000]


### Create object
prac = Solution()

#Benchmark Solution

In [ ]:
prac.average(salary)

41111.11111111111

In [ ]:
try:
    %timeit prac.average(salary)
except Exception as e:
        print("ERROR : "+str(e))

100000 loops, best of 5: 4.67 Âµs per loop

# Submission

```
Runtime: 25 ms, faster than 46.96% of Python online submissions for Average Salary Excluding the Minimum and Maximum Salary.
Memory Usage: 13.3 MB, less than 71.05% of Python online submissions for Average Salary Excluding the Minimum and Maximum Salary.
```