<a href="https://colab.research.google.com/github/prasna90/LeetCode-Python/blob/master/1523_Count_Odd_Numbers_in_an_Interval_Range.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question
Given two non-negative integers low and high. Return the count of odd numbers between low and high (inclusive).

 
```
Example 1:

Input: low = 3, high = 7
Output: 3
Explanation: The odd numbers between 3 and 7 are [3,5,7].
Example 2:

Input: low = 8, high = 10
Output: 1
Explanation: The odd numbers between 8 and 10 are [9].
 

Constraints:

0 <= low <= high <= 10^9
```

# Solution

In [10]:
class Solution(object):

    def countOdds(self, low, high):
        """
        :type low: int
        :type high: int
        :rtype: int
        """
        if (low % 2 == 0) & (high % 2 == 0):
            return int((high-low)/2)
        else:
            return int(((high-low)/2)+1)

# Create dataset and objects

In [11]:
first = 800445804
last = 979430543



### Create object
prac = Solution()

#Benchmark Solution

In [12]:
prac.countOdds(first,last)

89492370

In [13]:
try:
    %timeit prac.average(salary)
except Exception as e:
        print("ERROR : "+str(e))

ERROR : 'Solution' object has no attribute 'average'